
<div class="card-body">
<div class="card text-center">
  <div class="card-header">
   
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      
        <a class="navbar-brand" href="#">
          <img src= "/docs/5.3/assets/brand/bootstrap-logo.svg" alt= "Logo" width="30" height="24" class="d-inline-block align-text-top">
         THE BOOKS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link disabled">Disabled</a>
          </div>
        </div>
          </nav>
  </div>
  
  
    <h5 class="card-title">Your's Favriote Books</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class=" btn-block btn btn-primary">Go somewhere</a>
    
 
</div>
</div> 


